<div>
	<h2>TimeLine </h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome!</h1>

			Take a look what you have missed from your friends<br /><br />
			<label class="pull-right">Search: <input ng-model="search.$"></label>
		</div>
	</div>


	<!--| limitTo : 10 : 0-->

	<div ng-repeat="message in messages | filter:search:strict">
		<div class="jumbotron">
			<div class="container">
				<div class="panel panel-primary ">
					<div class="panel-heading ">
						<img src="http://localhost:1337/images/{{profile.profilePhoto}}" class="brand user-avatar2 pull-right" width="125" /><br />
						<h2 class="brand">
							<a class="a-white" ui-sref="profile({uid: message.creator.id})">@{{message.creator.username}}</a>
						</h2>
					</div>
					<div class="panel-body">
						{{message.message}}
					</div>
					<div class="panel-footer">
						<ul ng-repeat="topic in message.topics">
							<li><a ui-sref="{{topic}}">{{topic}}</a></li>
						</ul>
					</div>
				</div>
				<button ng-click='like(message.id)' class="pull-right btn btn-danger btn-sm btn-outline btn-rounded ">X {{message.dislikes.length}}</button>
				<button ng-click='dislike(message.id)' class="pull-right btn btn-success btn-outline btn-sm btn-rounded">Like {{message.likes.length}}</button>
			</div>
		</div>
	</div>
</div>