<div ng-controller="messageCtrl">
    <h2>Message</h2>
    <form>
        <input class="add-input" placeholder="message..." type="text" ng-model="message" ng-model-instant />
        <button class="add-btn" ng-click="filterTags()"><h2>Adicionar</h2></button>
    </form>
    <fieldset>
        <legend>Filtrando a mensagem</legend>
        <ul>
            <li ng-repeat="data in topics">
                <p>Topics: {{data}}</p>
        </ul>
        </li>
        <ul>
            <li ng-repeat="data in usersGroups">
                <p>User ou Group: {{data}}</p>
        </ul>
        </li>
        <ul>
            <li ng-repeat="data in links">
                <p>Links: {{data}}</p>
        </ul>
        </li>
        <ul>
            <li ng-repeat="data in images">
                <p>Images: {{data}}</p>
        </ul>
        </li>
        <ul>
            <li ng-repeat="data in videos">
                <p>Videos: {{data}}</p>
        </ul>
        </li>   
    </fieldset>   
</div>