<div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
	<h2>Group <small>Manager</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>{{current_user}} groups</h1>
			I don't want to bloat this Ani Theme Free Edition AngularJS Admin theme with a lot of plugins. To install plugins we have
			bower. Let's keep it real clean!<br /><br />
			<p>
				<a ng-click='btFunction(current_user+"new group")' class="btn btn-primary btn-lg btn-outline btn-rounded">New</a>
			</p>
			<div class="check-element sample-show-hide" ng-show="button_mode==current_user+'new group'" style="clear:both;">
				<div class="form-page">
					<a ng-click='close()' class="btn btn-primary btn-lg btn-outline btn-rounded">X</a>
					<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">

						<form ng-submit="register()">

							<div class="form-content">
								<div class="form-group">
									<input type="text" class="form-control input-underline input-lg" ng-model="name" placeholder="Group name">
								</div>

							</div>

							<button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Create</button>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-repeat="group in all">
		<div class="jumbotron">
			<div class="container">
				<h1> <a ui-sref="group-page({uid: group.id})">{{group.name}}</a></h1>
				I don't want to bloat this Ani Theme Free Edition AngularJS Admin theme with a lot of plugins. To install plugins we have
				bower. Let's keep it real clean!<br /><br />
				<p class="check-element sample-show-hide" ng-show="button_functions==group.creator" style="clear:both;">
					<a ng-click='btFunction(group.name+"add user")' class="btn btn-primary btn-lg btn-outline btn-rounded">Add user</a>
					<a ng-click='btFunction(group.name+"remove user")' class="btn btn-primary btn-lg btn-outline btn-rounded">Remove user</a>
					<a ng-click='btFunction(group.name+"edit group")' class="btn btn-primary btn-lg btn-outline btn-rounded">Edit</a>
					<a ng-click='btFunction(group.name+"remove group")' class="btn btn-primary btn-lg btn-outline btn-rounded">Remove group</a>
				</p>
				<div class="check-element sample-show-hide" ng-show="button_mode==group.name+'add user'" style="clear:both;">
					<div class="form-page">
						<a ng-click='close()' class="btn btn-primary btn-lg btn-outline btn-rounded">X</a>
						<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
							<form>
								<div class="form-content">
									<div class="form-group">
										<input type="text" class="form-control input-underline input-lg" ng-model="username.all[group.id]" placeholder="User">
									</div>
								</div>
								<button ng-click='subscribe(group.id)' class="btn btn-white btn-outline btn-lg btn-rounded">Add</button>
							</form>
						</div>
					</div>
				</div>
				<div class="check-element sample-show-hide" ng-show="button_mode==group.name+'remove user'" style="clear:both;">
					<div class="form-page">
						<a ng-click='close()' class="btn btn-primary btn-lg btn-outline btn-rounded">X</a>
						<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
							<form>
								<div class="form-content">
									<div class="form-group">
										<input type="text" class="form-control input-underline input-lg" ng-model="usernamer.all[group.id]" placeholder="User">
									</div>
								</div>
								<button ng-click='unsubscribeUser(group.id)' class="btn btn-white btn-outline btn-lg btn-rounded">Remove</button>
							</form>
						</div>
					</div>
				</div>
				<div class="check-element sample-show-hide" ng-show="button_mode==group.name+'edit group'" style="clear:both;">
					<div class="form-page">
						<a ng-click='close()' class="btn btn-primary btn-lg btn-outline btn-rounded">X</a>
						<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
							<form>
								<div class="form-content">
									<div class="form-group">
										<input type="text" class="form-control input-underline input-lg" ng-model="groupName.all[group.id]" placeholder="Group name">
									</div>
								</div>
								<button ng-click='edit(group.id)' class="btn btn-white btn-outline btn-lg btn-rounded">Edit</button>
							</form>
						</div>
					</div>
				</div>
				<div class="check-element sample-show-hide" ng-show="button_mode==group.name+'remove group'" style="clear:both;">
					<div class="form-page">
						<a ng-click='close()' class="btn btn-primary btn-lg btn-outline btn-rounded">X</a>
						<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
							<form>
								<div class="form-content">
									<div class="form-group">
										<h2>Are you sure?</h2>
									</div>
								</div>
								<button ng-click='remove(group.id)' class="btn btn-white btn-outline btn-lg btn-rounded">Yes!</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>