<div class="jumbotron">
		<div class="container">
			<h1>Edit {{user.username}} account</h1>
			Complete the fields to update your informations.<br /><br />
			<p>
			</p>
				<div class="form-page">
					<!--<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">-->

						<form ng-submit="edit()" enctype="multipart/form-data">

							<div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" ng-model="user.username" ng-readonly="user.username"/><br/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" ng-model="user.name"/><br/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" ng-model="user.birthday" ng-readonly="user.birthday" onblur="(this.type='text')"/><br/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" ng-model="user.description" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" ng-model="user.password" placeholder="Password">
                    </div>

                    <div class="button" ngf-select="upload($file)">{{uploadLabel}}</div>
                    <div class="progress">
                        <div class="progress-bar {{progressPercentageClass}}" role="progressbar" aria-valuenow="{{progressPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progressPercentage}}%;">
                            <span class="sr-only">{{progressPercentage}}%</span>
                        </div>
                    </div>

                </div>

							<button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Edit</button> 
											<a ng-click='btFunction(current_user+"new group")' class="btn btn-danger btn-sm btn-outline btn-rounded">Remove Account</a>

						</form>
					<!--</div>-->
				</div>
		</div>
	</div>

