<div>
	<div class="jumbotron">
		<div class="container">
			<div class="check-element sample-show-hide" ng-show="button_mode=='Follow'" style="clear:both;">
				<a ng-click='followUser()' class="pull-right btn btn-primary btn-outline btn-rounded">Follow</a>
			</div>
			<div class="check-element sample-show-hide" ng-show="button_mode=='Unfollow'" style="clear:both;">
				<a ng-click='unfollowUser()' class="pull-right btn btn-primary btn-outline btn-rounded">Unfollow</a>
			</div>
			<h1>{{profileVisited.name}}
				<a ui-sref="account-edit" class=" check-element sample-show-hide btn btn-primary btn-outline btn-rounded" ng-show="button_mode=='Edit'"
					style="clear:both;">Edit</a>
			</h1>

			<h2>@{{profileVisited.username}}</h2>
			{{profileVisited.description}}<br /><br />
			<p>
				<!--<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>-->
			</p>
			<div class="form-group">
				<div class="panel-heading">New Post</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<textarea ng-model="message" class="form-control" rows="5" id="comment"></textarea>
						<a ng-click='createMessage()' class="pull-right btn btn-primary btn-lg btn-outline btn-rounded">Post it!</a>
					</div>
					<div class="panel-footer">
					</div>
					<label class="pull-right">Search: <input ng-model="search.$"></label>
				</div>
			</div>

		</div>
	</div>
	<div ng-repeat="message in messages | filter:search:strict">
		<div class="jumbotron">
			<div class="container">
				<div class="panel panel-primary">
					<div class="panel-heading">
					<img src="http://localhost:1337/images/{{message.owner.profilePhoto}}" class="brand user-avatar2 pull-right" width="125"/>

						<h2 class="brand">@{{message.owner.username}}
						<button ng-click='edit(message.id)' class="btn btn-white btn-outline btn-sm btn-rounded">Edit</button>
						<button ng-click='removeMessage(message.id)' class="pull-right btn btn-danger btn-sm btn-outline btn-rounded ">X</button>
						</h2>
						  
					</div>
					<div class="panel-body">
						{{message.message}}
					</div>
					<div class="panel-footer">
						<ul ng-repeat="topic in message.topics">
							<li><a ui-sref="{{topic}}">{{topic}}</a></li>
						</ul>
					</div>
				</div>
				<button ng-click='like(message.id)' class="pull-right btn btn-danger btn-sm btn-outline btn-rounded ">X</button>
				<button ng-click='dislike(message.id)' class="pull-right btn btn-success btn-outline btn-sm btn-rounded">Like</button>
			</div>
		</div>
	</div>
</div>